
:root, [data-theme="default"] {
    --link-color: #2E3840;
    --bg-color:white;
}

[data-theme="dark"] {
    --link-color: white;
    --bg-color:black;
  }

nav{
    background-color: var(--bg-color);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    width: 100%;
    border-bottom: 0.5px solid rgb(226, 223, 223);
    padding: .75rem 0;
}

a{
    text-decoration: none;
}

.menu{
    display: none;
}

.menu--icon{
    height: 2.25rem;
    width: 2.25rem;
}

.nav--links{
    position: relative;
}

.ze--links{
    flex-direction: column-reverse;
}

.links{

    flex-direction: row-reverse;
    display: flex;
}

.links div, .ze--links div{
    padding: .5rem .75rem;
}

.links a > button, .ze--links a > button{
    display: flex;
    gap: .5rem;
    align-items: center;
}

.toggle{
    width: 40%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

h1{
    margin-right: 90px;
}

button{
    letter-spacing: 0.3px;
    line-height: 8px;
    font-size: 16px;
    background-color: transparent;
    border: none;
    color:var(--link-color);
    font-size: 17px;
}

button:hover{
    cursor: pointer;
}

.bothLD:hover{
    cursor: pointer;
}

@media (max-width: 600px) {
    .menu{
        display: block;
    }

    .links{
        display: none;
    }

    .ze--links{
        display: flex;
        position: absolute;
        background-color: #ffffff;
        border: solid 1.5px #000000;
    }
}